$brand_primary: #66cc33;

body{
    background-color: aquamarine;
}
h2, h3{
    color: $brand_primary;
    text-align: center;
}
p{
    color: gray;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}