$brand_primary: #66cc33;
$brand_paragraph: black;

body{
    background-color: aquamarine;
}
h2, h3{
    color: $brand_primary;
    text-align: center;
}
p{
    color: $brand_paragraph;
    width: 50%;
    margin: 0 auto;
    text-align: justify;
}